.Textoh1 h1 {
    font-size: 3.5rem;
    font-weight: 700 !important;
} 
.gallery-wrapper {
    overflow-x: hidden;
} 
.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    transition: none;
}
.item {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
  
  .current-item {
    opacity: 1;
  }
  

  