.Textoh1 h1 {
    font-size: 3.5rem;
    font-weight: 700 !important;
} 
.gallery-wrapper {
    overflow-x: hidden;
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    transition: transform 0.5s ease;
  }

  .item {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
#CardRoxo:hover {
  background: var(--bs-primaria);
  color: var(--bs-white);
}
#CardAmarelo:hover {
  background: var(--bs-secundario);
}
.Beendiciostext strong p {
  font-size: 0.87rem;
}