@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/*Vareaveis*/
#DisplayMobile {
    display: none;
}
p, h1{
  margin: 0px !important;
}
.btnhover:hover {
  background: var(--bs-black) !important;
  color: var(--bs-white) !important;
}
@media only screen and (max-width: 991px) {
  #Carrosseltexto {
    text-align: center;
  }  
    #DisplayMobile {
      display: block;
    }
    #DisplayDesktop {
      display: none;
    }
    #MenuMobile {
        justify-content: center;
    }
    #MenuMobile02 {
        padding-top: .5rem;
        align-items: center;
    }
    #footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
    }
    #footer02 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
:root {
    --bs-primaria: #492073;
    --bs-secundario: #f2b441;
}